.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(4, 4, 4, 0.2); 
    backdrop-filter: blur(3px); 
    transition: 2s opacity;
    z-index: 20;
    
}
.myModalContent{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 450px;
    height: 50%;
    background-color: #282c34;
    border-radius: 5px;
    min-width: 350px;
    align-items: center;
    justify-content: space-evenly;
    z-index: 20;
}

.myModalContent h4{
    font-size: 32px;
    font-weight: 400;
    color: #f1f1f1;
    margin-top: 0;
}
.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.threeP{
	margin-left: 100px;
}
.loginForm{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70%;
}
.loginForm>input{
    margin-bottom: 10px;
    border: none;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
}
.loginForm>textarea{
    margin-bottom: 10px;
    border: none;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
}
.loginFormButton{
    border:none;
    background-color: #f1f1f1;
    padding: 5px;
    border-radius:5px;
    color:black;
    cursor: pointer;
    transition: ease-in-out 200ms;
}
.loginFormButton:hover{
    scale:1.01;
    background-color: #e3e1e1;
    transition: ease-in-out 200ms;
}