.buttonEdit{
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #282c34;
    transition: ease-in-out 200ms;
}
.buttonEdit:hover{
    color: #177f2c;
    transition: ease-in-out 200ms;
}


.buttonDelete{
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #282c34;
    transition: ease-in-out 200ms;
}
.buttonDelete:hover{
    color: #7f1717;
    transition: ease-in-out 200ms;
}